body{
    margin: 0;
    padding: 0;
    background-color: azure;
}
.header{
    margin-top: 15px;
    margin-left: 15px;
    color: orangered;
    
}
.nav{
    width: 100%;
    height: auto;
    padding: 10px 10px 15px;


}
.nav ul{
    text-decoration: none;
    margin-right: 20px;
  
    
}
.nav ul li{
    font-size: 20 px;
    color: black;
    font-weight: 400;
   
}
.fotter{
    text-align: center;
    color: orangered;
}