body{
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}
.header{
    width: 100%;
}
.logo{
    margin-top: 15px;
    margin-left: 20px;
    width: 15%;
    color: orangered;
}
.title{
    margin-top: 15px;
    margin-left: 35px;
    color: black;

}


 ul{
   list-style-type: none;
   margin: 50px;
   padding: 15px;
   overflow: hidden;
  
    
}
li{
    float:left;
    display: block;
    
   
}
li a{
    
    background-color: khaki;
    padding-right: 12px 10px;
}
.fotter{
    text-align: center;
    color: orangered;
    background-color: khaki;
}