body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

.logo{
    margin-top: 15px;
    margin-left: 20px;
    width: 15%;
    color: black;
}

.haif-width{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
/* .full-width{
    width:100%;
    margin-left: 20%;
    padding-left: 2%;
    margin-bottom: 10%;
} */
.haif-width p{
    font-size: 15px;
    padding:3px;
}
.skills{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    align-items: flex-start;
    gap: 5px;
    padding-right: 10px;
}
.skills span{
    color: black;
    font-weight: 500;
}
h1{
    font-size: 30px;
    line-height:1.5em;
}
h1 span {
    color: orangered;

}
.anchor{
    text-decoration: none;
    background-color: orangered;
    padding:12px  10px;
    border-radius:  5px;
    color:white;
    font-weight: 400;
    margin-top: 20px;

}
.anchor:hover {
    color:black
}

 .nav ul{
   
   list-style: none;
   margin-left: 15%;
   padding: 0;
   overflow: hidden;
   

  
    
}
.nav li{
   
    float:left;
    margin-right: 20px;
   
}
.nav li a{
    
    display:inline ;
    color: rgb(33, 31, 31);
    text-align: center;
    padding-right: 14px 16px;
    text-decoration: none;
}
.nav:hover{
    color:  orangered; 
}
.nav:visited{
    color:rgb(225, 65, 89);
}

 .service-head{
    text-align: center;
    font-weight: 700;

}
.service-content{
    text-align: center;
    padding: 3px;
    font-size: 12px;
    color:burlywood;
}
.service-right{
    display: flex;
    flex-direction: column;

}


.article{
    width: 40%;
    text-align: center;
    padding:5px;
    color:black;
    font-weight: 300;
}


.fotter{
    width: 100%;
    text-align: center;
    color: orangered;
    background-color: rgb(224, 222, 204);
    padding:4px;
    
}
.fotter ul li {
    padding-right: 10px;
    text-align: left;
}
